@import "footer";
.about {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
        h3 {
            width: 100%;
            font-size: 28px;
            font-weight: 800;
            color: getColor(color04);
            text-align: center;
            @include mobile {
                font-size: 22px;
                font-weight: 600;
                line-height: 40px;
            }
            @include mini-mobile {
                font-size: 18px;
            }
        }
        p {
            font-size: 16px;
            color: getColor(color01);
            @include mini-mobile {
                font-size: 15px;
            }
        }
}