.accredit {
    min-height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    gap: 20px;
    background: url(../assets/logo2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top: 1px solid getColor(color06);
    @include mobile {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        width: 80%;
        margin: auto;
        margin-bottom: 30px;
        border-top: none;
    }
    h3 {
        font-size: 28px;
        font-weight: 600;
        color: getColor(color04);
        text-align: center;
        font-weight: 800;
        @include mobile {
            font-size: 23px;
            line-height: 40px;
        }
        span {
            color: getColor(color05);
        }
    }
    a {
        color: getColor(color01);
        background-color: transparent;
        border: 1px solid getColor(color04);
        padding: 20px 30px;
        text-decoration: none;
        transition: all .3s ease;
        font-weight: 700;
        @include mobile {
            padding: 15px 25px;
        }
        &:hover {
            border: 1px solid getColor(color03);
            color: getColor(color01);
        }
    }
}