.faqs {
    padding: 30px;
    hr {
        width: 20%;
        margin: auto;
        margin-bottom: 30px;
        @include mobile {
            width: 40%;
        }
    }
    h3 {
        margin-bottom: 20px;
        font-size: 28px;
        font-weight: 900;
        text-transform: uppercase;
        color: getColor(color04);
        @include mini-mobile {
            font-size: 18px;
        }
    }
    .accordion {
        .accordion-item {
            background-color: getColor(color02);
            h2 {
                button {
                    background: transparent;
                    color: getColor(color01);
                    font-weight: 500;
                }
            }
            .accordion-collapse {
                .accordion-body {
                    color: getColor(color07);
                }
            }
        }
    }
}