.faqs {
    padding: 30px;
    @include mobile {
        margin-top: 60px;
    }
    h3 {
        margin-bottom: 20px;
        font-size: 28px;
        font-weight: 900;
        text-transform: uppercase;
        color: getColor(color04);
        @include mini-mobile {
            font-size: 18px;
        }
    }
    .accordion {
        .accordion-item {
            h2 {
                button {
                    background: getColor(color07);
                    color: getColor(color01);
                    font-weight: 500;
                }
            }
        }
    }
}