.gallery {
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    .gallery-top {
        h3 {
            width: 100%;
            font-size: 28px;
            font-weight: 800;
            color: getColor(color04);
            text-align: center;
            animation: fade-up .7s .4s backwards;
            @include mobile {
                font-size: 22px;
                font-weight: 600;
                line-height: 40px;
            }
            @include mini-mobile {
                font-size: 18px;
            }
        }
        p {
            font-size: 16px;
            color: getColor(color01);
            animation: fade-up .7s .6s backwards;
            @include mini-mobile {
                font-size: 15px;
            }
        }
    }
    .gallery-bottom {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        gap: 20px;
        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }
        @include mobile {
            grid-template-columns: 1fr;
        }
        div {
            h4 {
                font-size: 18px;
                font-weight: 700;
                text-transform: uppercase;
                color: getColor(color04);
                @include tablet {
                    font-size: 16px;
                }
            }
            iframe {
                width: 100%;
                border-radius: 3px;
            }
        }
    }
}