.hero {
    position: relative;
    height: 70vh;
    margin-top: 140px;
    &.scroll-hero {
        @include mobile {
            margin-top: 125px;
        }
    }
    @include mobile {
        height: 55vh;
        margin-top: 215px;
    }
    .hero-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 99;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
        width: 100%;
        padding-inline: 40px;
        @include mobile {
            padding-inline: 20px;
        }
        h3 {
            color: getColor(color02);
            text-align: start;
            text-transform: uppercase;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            font-size: 45px;
            font-weight: 800;
            animation: fade-up .7s .4s backwards;
            width: 70%;
            line-height: 60px;
            @include tablet {
                font-size: 35px;
                width: 90%;
                line-height: 50px;
            }
            @include mobile {
                font-size: 25px;
                width: 100%;
                line-height: 35px;
            }
        }
        .hero-cta {
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 10px;
            width: 60%;
            @include tablet {
                width: 90%;
            }
            @include mobile {
                width: 100%;
            }
            a {
                color: getColor(color02);
                background-color: getColor(color04);
                border: 1px solid getColor(color02);
                padding: 15px 25px;
                text-decoration: none;
                text-align: center;
                transition: all .3s ease;
                animation: fade-up .7s .6s backwards;
                font-weight: 600;
                width: 30%;
                white-space: nowrap;
                &:nth-child(2) {
                    background-color: transparent;
                    &:hover {
                        background-color: getColor(color04);
                    }
                }
                @include mobile {
                    padding: 10px 15px;
                    width: 50% !important;
                }
                @include tablet {
                    padding: 16px 24px;
                    width: 35%;
                }
            }
        }
    }
    .carousel-wrap {
        height: 70vh;
        @include mobile {
            height: 55vh;
        }
        .carousel-control-prev, .carousel-control-next {
            display: none;
        }
        .carousel {
            height: 70vh;
            @include mobile {
                height: 55vh;
            }
            .carousel-image-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.2);
            }              
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                @include mobile{
                    aspect-ratio: 1/1;
                    object-position: cover;
                }
            }
        }
    }
}