.homeabout {
    padding: 0 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    background-color: getColor(color04);
    margin-top: 20px;
    margin-bottom: 20px;
    height: 65vh;
    overflow: hidden;
    @include edge {
        height: 50vh;
    }
    @include default {
        height: 60vh;
    }
    @include tablet {
        height: initial;
    }
    @include mobile {
        flex-direction: column;
        padding: 20px 20px;
    }
    .homeabout-top {
        width: 50%;
        @include mobile {
            width: 100%;
            height: 30vh;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1/1;
        }
    }
    .homeabout-bottom {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        color: getColor(color02);
        padding: 20px 10px;
        @include mobile {
            width: 100%;
        }
        h3 {
            font-size: 2.5rem;
            @include tablet {
                font-size: 2rem
            }
            @include mobile {
                font-size: 1.6rem
            }
        }
        p {
            font-size: 1rem;
        }
        a {
            margin-top: auto;
            text-decoration: none;
            color: getColor(color02);
            background-color: transparent;
            padding: 15px 30px;
            border: 1px solid getColor(color02);
            font-weight: 700;
        }
    }
}