.intro {
    padding: 40px;
    .intro-top {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding: 40px 30px;
        width: 100%;
        margin-bottom: 30px;
        @include tablet {
            padding: initial;
            padding-top: 40px;
            padding-bottom: 10px;
        }
        @include mobile {
            padding-top: 20px;
            margin-bottom: 0;
        }
        img {
            position: absolute;
            top: 24%;
            left: 1%;
            width: 50px;
            @include tablet {
                top: -18%;
                left: -1%;
                width: 45px;
            }
            @include mobile {
                top: -4%;
                width: 40px;
                display: none;
            }
        }
        h3 {
            font-size: 20px;
            color: getColor(color05);
            font-weight: 800;
            text-align: center;
            @include mobile {
                width: 100%;
                font-size: 16px;
                text-align: start;
                font-weight: 500;
            }
            span {
                color: getColor(color04);
            }
        }
    }
    .intro-about {
        margin-bottom: 20px;
        h3 {
            width: 100%;
            text-align: start;
            font-size: 30px;
            font-weight: 900;
            text-transform: uppercase;
            color: getColor(color04);
            line-height: 45px;
            margin-bottom: 20px;
            @include tablet {
                font-size: 25px;
            }
            @include mobile {
                font-size: 21px;
                line-height: 30px;
            }
        }
        p {
            font-size: 16px;
            color: getColor(color07);
            animation: fade-up 1.7s .6s backwards;
            @include mini-mobile {
                font-size: 15px;
            }
        }
    }
    .hr {
        height: 1px;
        width: 30%;
        background-color: getColor(color06);
        margin-inline: auto;
    }
}