@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
    // outline: 1px solid red;
}

// Function
@function getColor($key){
    @return map-get($colors, $key);
}

//Variable
$colors:(
    color01: #000000,
    color02: #FFFFFF,
    color03: #7895CB,
    color04: #4A55A2,
    color05: #6C757D,
    color06: #dddddd,
    color07: #616161
);

// Mixin
@mixin edge{
    @media (max-width: 1920.1px){
        @content;
    }
}
@mixin default{
    @media (max-width: 1400.1px){
        @content;
    }
}
@mixin mini-mobile{
    @media (max-width: 490.1px){
        @content;
    }
}
@mixin mobile{
    @media (max-width: 660.1px){
        @content;
    }
}
@mixin tablet{
    @media (max-width: 960.1px){
        @content;
    }
}

//Utility classes
.activeNav {
    border-bottom: 1px solid getColor(color02);
    @include mobile {
        border-bottom: 1px solid getColor(color04); 
    }
}
.delayPage {
    visibility: hidden;
}
.carousel-indicators {
    display: none !important;
}
.slider {
    @include edge {
        height: 50vh;
    }
}
// .full-text {
//     overflow: hidden;
//     max-height: 9999px;
//     transition: max-height .3s ease-in;
// }

//Keyframes
@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translateY(30px) scale(0.9);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}