.navbar {
    width: 100%;
    background-color: getColor(color04);
    padding: 60px 40px 5px 40px !important;
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: all .3s ease;
    &.change-padding {
        padding: 0 40px 5px 40px !important;
    }
    @include tablet {
        padding: 100px 40px 5px 40px !important;
    }
    @include mobile {
        padding: 155px 30px 0 20px !important;
        &.change-padding {
            padding: 0 30px 5px 20px !important;
        }
    }
    .logo {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        img {
            width: 80px;
            @include mobile {
                width: 70px;
            }
        }
        h4 {
            color: getColor(color08);
            font-size: 20px;
            font-weight: 800;
            margin-bottom: 0;
            @include mobile {
                font-size: 16px;
            }
        }
    }
    .menu-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include mobile {
            position: absolute;
            top: 100%;
            left: -1000px;
            flex-direction: column;
            align-items: start;
            padding: 40px;
            gap: 15px;
            background-image: linear-gradient(90deg, getColor(color03) 68%, rgba(0, 0, 0, 0.4) 53%);
            min-height: 90vh;
            min-width: 50vw;
            transition: all .3s ease;
            z-index: 999;
            width: 100%;
            &.show {
                left: 0;
            }
        }
        .menu {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 25px;
            @include mobile {
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 30px;
            }
            a {
                text-decoration: none;
                color: getColor(color02);
                @include mobile {
                    color: getColor(color02);
                }
            }
        }
        .appointment-mobile {
            display: none;
            text-decoration: none;
            color: getColor(color02);
            background-color: getColor(color03);
            padding: 10px;
            margin-bottom: 13vh;
            border: 1px solid transparent;
            transition: all .3s ease;
            @include mobile {
                border: 1px solid getColor(color02);
                display: block;
            }
        }
    }
    .appointment {
        text-decoration: none;
        color: getColor(color02);
        background-color: transparent;
        padding: 10px;
        border: 1px solid getColor(color02);
        transition: all .3s ease;
        @include mobile {
            display: none;
        }
        &:hover {
            background-color: getColor(color03);
            color: getColor(color04);
        }
    }
    .hamburger {
        display: none;
        @include mobile{
            display: flex;
            flex-direction: column;
            gap: 5px;
            cursor: pointer;
            margin-left: auto;
            &.active{
                .line{
                    &:nth-child(1){
                        transform-origin: 7%; 
                        transform: rotate(45deg);
                     }
                     &:nth-child(2){
                       opacity: 0;
                     }
                     &:nth-child(3){
                        transform-origin: 11%;
                        transform: rotate(-45deg) translateX(-1px)
                     }
                }
            }
        }
        .line {
            width: 25px;
            height: 2px;
            background-color: getColor(color02);
            transition:  .3s ease;
        }
    }
    .nav-location {
        width: 100%;
        padding: 2px 40px;
        position: absolute;
        top: 0%;
        left: 0;
        right: 0;
        background-color: getColor(color02);
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        transition: all .3s ease;
        @include tablet {
            flex-direction: column;
            padding-bottom: 10px;
        }
        @include mobile {
            justify-content: center;
            flex-direction: column;
            padding-top: 20px;
            gap: 10px;
        }
        .nav-location-1 {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: 20px;
            @include mobile {
                flex-direction: column;
                justify-content: center;
                gap: 10px;
            }
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 3px;
                img {
                    width: 20px;
                }
                p {
                    color: getColor(color07);
                    padding-top: 20px;
                    white-space: nowrap;
                    font-size: 14px;
                    @include tablet {
                        font-size: 13px;
                    }
                    @include mobile {
                        font-size: 14px;
                        white-space: nowrap;
                        padding-top: 0;
                        margin-bottom: 0;
                    }
                }
            }
        }
        .nav-location-2 {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            a {
                text-decoration: none;
                img {
                    width: 30px;
                }
            }
        }
    }
}