.service-page {
    h1 {
    color: getColor(color04);
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    }
    p {
        text-align: center;
        padding: 0 10px;
    }
   .card-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: fit-content;
        padding: 3rem;
        @include tablet {
            grid-template-columns: 1fr 1fr;
        }
        @include mobile {
            grid-template-columns: 1fr;
        }
        .card {
            // max-width: 500px;
            margin: auto;
            border: none;
            height: fit-content;
            padding: 10px;
            img {
                width: 100%;
                margin: auto;
                overflow: hidden;
                box-shadow: gray 4px 4px 4px;
                aspect-ratio: 4/4;
                transition: all .4s ease-in-out;
                &:hover {
                    scale: (1.1);
                }
                @include tablet {
                    width: 100%;
                }
            }
            div {
                h4 {
                    color: getColor(color04);
                    font-family:'Roboto',     sans-serif;
                    text-align: center;
                    padding: 25px;
                    @include tablet{
                        font-size: 20px;
                    }
                }
                .card-text {
                    font-size: 18px;
                    padding-top: 0;
                }
            }
        }
        
    }
}