.services {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    padding: 30px;
    position: relative;
    @include mobile {
        padding: 30px 0;
    }
    .services-top {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        @include mobile {
            padding: 0 30px;
        }
        h3 {
            width: 100%;
            text-align: start;
            font-size: 28px;
            font-weight: 900;
            text-transform: uppercase;
            color: getColor(color04);
            @include mini-mobile {
                font-size: 18px;
            }
        }
        p {
            width: 100%;
            font-size: 16px;
            color: getColor(color07);
            text-align: start;
            @include tablet {
                width: 90%;
            }
            @include mobile {
                width: 100%;
            }
        }
    }
    .services-bottom {
        // display: flex;
        // gap: 20px;
        // @include mobile {
        //     flex-direction: column-reverse;
        // }
        .service-card-wrap {
            // flex: 1;
            display: flex;
            // flex-direction: column;
            justify-content: center;
            gap: 10px;
            @include tablet {
                flex-wrap: wrap;
                gap: 20px;
            }
            @include mobile {
                padding-inline: 30px;
            }
            .service-card {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                border: 1px solid getColor(color05);
                border-radius: 3px;
                @include tablet {
                    width: 40%;
                }
                @include mobile {
                    border: 1px solid getColor(color01);
                    width: 100%;
                }
                .service-card-img {
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include tablet {
                        padding: 5px;
                    }
                    img {
                        width: 70px;
                        margin: auto;
                        @include tablet {
                            width: 60px;
                        }
                        @include mobile {
                            width: 50px;
                        }
                    }
                }
                .service-card-content {
                    flex: 5;
                    padding: 5px;
                    h4 {
                        font-size: 18px;
                        font-weight: 700;
                        text-transform: uppercase;
                        color: getColor(color04);
                        @include tablet {
                            font-size: 16px;
                        }
                    }
                    p {
                        font-size: 16px;
                        color: getColor(color07);
                        @include tablet {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
        // .service-main-img {
        //     flex: 1;
        //     img {
        //         width: 100%;
        //         object-fit: cover;
        //         border-radius: 3px;
        //         @include edge {
        //             height: 400px;
        //         }
        //         @include default {
        //             height: 100%;
        //         }

        //     }
        // }
    }
    .services-view-all {
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        a {
            text-decoration: none;
            background-color: transparent;
            color: getColor(color04);
            padding: 15px 40px;
            transition: all .3s ease;
            @include tablet {
                border: none;
            }
            @include mobile {
                padding: 10px 20px;
                border: none;
            }
        }
    }
}