@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,200;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

.activeNav {
  border-bottom: 1px solid #ffffff;
}
@media (max-width: 660.1px) {
  .activeNav {
    border-bottom: 1px solid #0a460d;
  }
}

.delayPage {
  visibility: hidden;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.navbar {
  width: 100%;
  padding: 16px 40px !important;
  background-color: #0a460d;
}
@media (max-width: 660.1px) {
  .navbar {
    padding: 6px 40px 6px 30px !important;
  }
}
.navbar img {
  width: 80px;
}
.navbar .menu-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 660.1px) {
  .navbar .menu-wrap {
    position: absolute;
    top: 100%;
    left: -600px;
    flex-direction: column;
    align-items: start;
    padding: 40px;
    gap: 15px;
    background-color: #9dffa7;
    min-height: 80vh;
    min-width: 50vw;
    transition: all 0.3s ease;
    z-index: 999;
  }
  .navbar .menu-wrap.show {
    left: 0;
  }
}
.navbar .menu-wrap .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
@media (max-width: 660.1px) {
  .navbar .menu-wrap .menu {
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
  }
}
.navbar .menu-wrap .menu a {
  text-decoration: none;
  color: #ffffff;
}
@media (max-width: 660.1px) {
  .navbar .menu-wrap .menu a {
    color: #0a460d;
  }
}
.navbar .menu-wrap .appointment-mobile {
  display: none;
  text-decoration: none;
  color: #0a460d;
  background-color: #9dffa7;
  padding: 10px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  border-radius: 5px;
}
@media (max-width: 660.1px) {
  .navbar .menu-wrap .appointment-mobile {
    border: 1px solid #0a460d;
    display: block;
  }
}
.navbar .appointment {
  text-decoration: none;
  color: #ffffff;
  background-color: transparent;
  padding: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  transition: all 0.3s ease;
}
@media (max-width: 660.1px) {
  .navbar .appointment {
    display: none;
  }
}
.navbar .appointment:hover {
  background-color: #9dffa7;
  color: #0a460d;
}
.navbar .hamburger {
  display: none;
}
@media (max-width: 660.1px) {
  .navbar .hamburger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    margin-left: auto;
  }
  .navbar .hamburger.active .line:nth-child(1) {
    transform-origin: 7%;
    transform: rotate(45deg);
  }
  .navbar .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }
  .navbar .hamburger.active .line:nth-child(3) {
    transform-origin: 11%;
    transform: rotate(-45deg) translateX(-1px);
  }
}
.navbar .hamburger .line {
  width: 25px;
  height: 2px;
  background-color: #ffffff;
  transition: 0.3s ease;
}

.hero {
  position: relative;
  height: 80vh;
}
@media (max-width: 660.1px) {
  .hero {
    height: 70vh;
  }
}
.hero .hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding-inline: 20px;
}
.hero .hero-content h3 {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 45px;
  font-weight: 800;
  animation: fade-up 0.7s 0.4s backwards;
}
@media (max-width: 960.1px) {
  .hero .hero-content h3 {
    font-size: 28px;
  }
}
@media (max-width: 660.1px) {
  .hero .hero-content h3 {
    font-size: 25px;
  }
}
.hero .hero-content a {
  color: #000000;
  background-color: #9dffa7;
  border: 1px solid #ffffff;
  padding: 20px 30px;
  text-decoration: none;
  transition: all 0.3s ease;
  animation: fade-up 0.7s 0.6s backwards;
  border-radius: 5px;
}
.hero .hero-content a:hover {
  border: 1px solid #000000;
}
@media (max-width: 660.1px) {
  .hero .hero-content a {
    padding: 10px 15px;
  }
}
@media (max-width: 960.1px) {
  .hero .hero-content a {
    padding: 16px 24px;
  }
}
.hero .carousel-wrap {
  height: 80vh;
}
.hero .carousel-wrap .carousel-control-prev, .hero .carousel-wrap .carousel-control-next {
  display: none;
}
.hero .carousel-wrap .carousel {
  height: 80vh;
}
@media (max-width: 660.1px) {
  .hero .carousel-wrap .carousel {
    height: 70vh;
  }
}
.hero .carousel-wrap .carousel img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 660.1px) {
  .hero .carousel-wrap .carousel img {
    aspect-ratio: 1/1;
    -o-object-position: cover;
       object-position: cover;
  }
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
}
.intro .intro-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 40px 30px;
  width: 100%;
}
@media (max-width: 960.1px) {
  .intro .intro-top {
    padding: initial;
    padding-top: 40px;
    padding-bottom: 10px;
  }
}
@media (max-width: 660.1px) {
  .intro .intro-top {
    padding-top: 65px;
  }
}
.intro .intro-top img {
  position: absolute;
  top: 24%;
  left: 1%;
  width: 50px;
}
@media (max-width: 960.1px) {
  .intro .intro-top img {
    top: -18%;
    left: -1%;
    width: 45px;
  }
}
@media (max-width: 660.1px) {
  .intro .intro-top img {
    top: -4%;
    width: 40px;
  }
}
.intro .intro-top h3 {
  font-size: 24px;
  color: #808080;
  font-weight: 800;
  text-align: center;
}
@media (max-width: 660.1px) {
  .intro .intro-top h3 {
    font-size: 21px;
  }
}
.intro .intro-top h3 span {
  color: #0a460d;
  font-style: italic;
}
.intro .intro-bottom {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
}
@media (max-width: 960.1px) {
  .intro .intro-bottom {
    flex-direction: column;
    align-items: start;
  }
}
.intro .intro-bottom .bottom-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
.intro .intro-bottom .bottom-1 h4 {
  font-size: 19px;
  color: #000000;
  font-weight: 600;
}
@media (max-width: 660.1px) {
  .intro .intro-bottom .bottom-1 h4 {
    font-size: 17px;
  }
}
.intro .intro-bottom .bottom-1 p {
  font-size: 16px;
  color: #000000;
}
.intro .intro-bottom .bottom-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 10px;
}
@media (max-width: 960.1px) {
  .intro .intro-bottom .bottom-2 {
    width: 100%;
  }
}
.intro .intro-bottom .bottom-2 h4 {
  font-size: 19px;
  color: #000000;
  font-weight: 600;
}
@media (max-width: 660.1px) {
  .intro .intro-bottom .bottom-2 h4 {
    font-size: 17px;
  }
}
.intro .intro-bottom .bottom-2 table {
  border-collapse: collapse;
  width: 100%;
}
.intro .intro-bottom .bottom-2 table tr:nth-child(even) {
  background-color: #dddddd;
}
.intro .intro-bottom .bottom-2 table tr td {
  border: 1px solid #808080;
  font-size: 15px;
  color: #000000;
  padding: 5px;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  padding: 30px;
  position: relative;
}
.services .services-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.services .services-top h3 {
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
  color: #0a460d;
}
@media (max-width: 490.1px) {
  .services .services-top h3 {
    font-size: 23px;
  }
}
.services .services-top p {
  font-size: 16px;
  color: #000000;
  text-align: center;
  width: 80%;
}
@media (max-width: 960.1px) {
  .services .services-top p {
    width: 90%;
  }
}
@media (max-width: 660.1px) {
  .services .services-top p {
    width: 100%;
  }
}
.services .services-bottom {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 960.1px) {
  .services .services-bottom {
    gap: 20px;
  }
}
@media (max-width: 660.1px) {
  .services .services-bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 490.1px) {
  .services .services-bottom {
    grid-template-columns: 1fr;
  }
}
.services .services-bottom .service-card .service-card-top {
  width: 100%;
}
.services .services-bottom .service-card .service-card-top img {
  width: 100%;
  border-radius: 3px;
  z-index: 99;
}
.services .services-bottom .service-card-bottom {
  padding: 20px 0;
}
.services .services-bottom .service-card-bottom h4 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0a460d;
}
@media (max-width: 960.1px) {
  .services .services-bottom .service-card-bottom h4 {
    font-size: 16px;
  }
}
.services .services-bottom p {
  font-size: 16px;
  color: #000000;
}
@media (max-width: 960.1px) {
  .services .services-bottom p {
    font-size: 15px;
  }
}
.services .services-view-all {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.services .services-view-all a {
  text-decoration: none;
  background-color: transparent;
  color: #0a460d;
  border: 1px solid #0a460d;
  padding: 15px 40px;
  transition: all 0.3s ease;
  border-radius: 5px;
}
@media (max-width: 660.1px) {
  .services .services-view-all a {
    padding: 10px 20px;
  }
}
.services .services-view-all a:hover {
  background-color: #9dffa7;
}

.accredit {
  min-height: 40vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  gap: 20px;
  background: url(../assets/logo2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top: 1px solid #dddddd;
}
@media (max-width: 660.1px) {
  .accredit {
    border-radius: 20px 20px 0 0;
    border-top: 1px solid #0a460d;
  }
}
.accredit h3 {
  font-size: 28px;
  font-weight: 600;
  color: #0a460d;
  text-align: center;
}
@media (max-width: 660.1px) {
  .accredit h3 {
    font-size: 23px;
    line-height: 40px;
  }
}
.accredit h3 span {
  color: #808080;
}
.accredit a {
  color: #000000;
  background-color: #9dffa7;
  border: 1px solid #0a460d;
  padding: 20px 30px;
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 5px;
}
@media (max-width: 660.1px) {
  .accredit a {
    padding: 15px 25px;
  }
}
.accredit a:hover {
  border: 1px solid #9dffa7;
  color: #000000;
}

.appointment-2 {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  padding: 30px;
  background: url(../assets/img10.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (max-width: 960.1px) {
  .appointment-2 {
    flex-direction: column;
  }
}
@media (max-width: 660.1px) {
  .appointment-2 {
    gap: 50px;
  }
}
.appointment-2 .appointment-top {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.appointment-2 .appointment-top h3 {
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 490.1px) {
  .appointment-2 .appointment-top h3 {
    font-size: 23px;
  }
}
.appointment-2 .appointment-top p {
  font-size: 16px;
  color: #ffffff;
  text-align: start;
}
.appointment-2 .appointment-top .appointment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  width: 100%;
}
.appointment-2 .appointment-top .appointment-form div {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
}
@media (max-width: 660.1px) {
  .appointment-2 .appointment-top .appointment-form div {
    flex-direction: column;
  }
}
.appointment-2 .appointment-top .appointment-form div input {
  width: 100%;
  outline: transparent;
  border-radius: 5px;
  padding: 5px;
}
.appointment-2 .appointment-top .appointment-form textarea {
  width: 100%;
  outline: transparent;
  border-radius: 5px;
  padding: 5px;
}
.appointment-2 .appointment-top .appointment-form button {
  border: 1px solid #0a460d;
  padding: 10px;
  font-size: 18px;
  background-color: #9dffa7;
  color: #000000;
  width: 100%;
}
.appointment-2 .appointment-top .appointment-form button img {
  width: 20px;
  margin-right: 10px;
}
.appointment-2 .appointment-bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.appointment-2 .appointment-bottom h3 {
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}
@media (max-width: 490.1px) {
  .appointment-2 .appointment-bottom h3 {
    font-size: 23px;
  }
}
.appointment-2 .appointment-bottom img {
  width: 300px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
}
.appointment-2 .appointment-bottom div {
  border: 1px solid #ffffff;
  padding: 20px 30px 10px 30px;
  color: #ffffff;
  margin-top: 20px;
}
.appointment-2 .appointment-bottom div p {
  font-size: 16px;
  color: #ffffff;
  text-align: center;
}

.footer {
  background-color: #0a460d;
  color: #ffffff;
  padding: 30px 50px;
}
.footer .footer-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 25px;
}
@media (max-width: 960.1px) {
  .footer .footer-top {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 660.1px) {
  .footer .footer-top {
    grid-template-columns: 1fr;
  }
}
.footer .footer-top div {
  display: flex;
  justify-content: center;
  align-items: start;
}
.footer .footer-top div img {
  width: 160px;
}
.footer .footer-top div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
@media (max-width: 960.1px) {
  .footer .footer-top div:nth-child(2) {
    align-items: center;
  }
}
.footer .footer-top div:nth-child(2) h3 {
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: start;
  color: #ffffff;
}
@media (max-width: 490.1px) {
  .footer .footer-top div:nth-child(2) h3 {
    font-size: 14px;
  }
}
.footer .footer-top div:nth-child(2) a {
  font-size: 14px;
  text-align: start;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 3px;
  transition: all 0.3s ease;
}
.footer .footer-top div:nth-child(2) a:hover {
  color: #9dffa7;
}
.footer .footer-top div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
@media (max-width: 960.1px) {
  .footer .footer-top div:nth-child(3) {
    align-items: center;
  }
}
.footer .footer-top div:nth-child(3) h3 {
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: start;
  color: #ffffff;
}
@media (max-width: 490.1px) {
  .footer .footer-top div:nth-child(3) h3 {
    font-size: 14px;
  }
}
.footer .footer-top div:nth-child(3) a {
  font-size: 14px;
  text-align: start;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 3px;
  transition: all 0.3s ease;
}
.footer .footer-top div:nth-child(3) a:hover {
  color: #9dffa7;
}
.footer .footer-top div:nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
@media (max-width: 960.1px) {
  .footer .footer-top div:nth-child(4) {
    align-items: center;
  }
}
.footer .footer-top div:nth-child(4) h3 {
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: start;
  color: #ffffff;
}
@media (max-width: 490.1px) {
  .footer .footer-top div:nth-child(4) h3 {
    font-size: 14px;
  }
}
.footer .footer-top div:nth-child(4) a {
  font-size: 14px;
  text-align: start;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 3px;
  transition: all 0.3s ease;
}
.footer .footer-top div:nth-child(4) a:hover {
  color: #9dffa7;
}
.footer .footer-bottom {
  padding: 50px 50px 25px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 40px;
}
@media (max-width: 660.1px) {
  .footer .footer-bottom {
    padding: 40px 25px 25px 25px;
  }
}
.footer .footer-bottom .footer-bottom-top {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  width: 100%;
}
@media (max-width: 660.1px) {
  .footer .footer-bottom .footer-bottom-top {
    justify-content: center;
  }
}
.footer .footer-bottom .footer-bottom-top img {
  width: 24px;
  transition: all 0.3s ease;
}
.footer .footer-bottom .footer-bottom-top img:hover {
  transform: scale(1.2);
}
.footer .footer-bottom .footer-bottom-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
@media (max-width: 960.1px) {
  .footer .footer-bottom .footer-bottom-bottom {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 660.1px) {
  .footer .footer-bottom .footer-bottom-bottom {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}
.footer .footer-bottom .footer-bottom-bottom div:first-child {
  flex: 1;
}
.footer .footer-bottom .footer-bottom-bottom div:first-child p {
  font-size: 15px;
}
@media (max-width: 660.1px) {
  .footer .footer-bottom .footer-bottom-bottom div:first-child p {
    font-size: 14px;
    text-align: center;
  }
}
.footer .footer-bottom .footer-bottom-bottom div:nth-child(2) {
  flex: 1;
  display: flex;
  align-items: start;
  gap: 20px;
  width: 100%;
}
@media (max-width: 660.1px) {
  .footer .footer-bottom .footer-bottom-bottom div:nth-child(2) {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 490.1px) {
  .footer .footer-bottom .footer-bottom-bottom div:nth-child(2) {
    flex-direction: column;
  }
}
.footer .footer-bottom .footer-bottom-bottom div:nth-child(2) a {
  font-size: 15px;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s ease;
}
.footer .footer-bottom .footer-bottom-bottom div:nth-child(2) a:hover {
  color: #9dffa7;
}
@media (max-width: 660.1px) {
  .footer .footer-bottom .footer-bottom-bottom div:nth-child(2) a {
    font-size: 14px;
  }
}

.footer {
  background-color: #0a460d;
  color: #ffffff;
  padding: 30px 50px;
}
.footer .footer-top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 25px;
}
@media (max-width: 960.1px) {
  .footer .footer-top {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 660.1px) {
  .footer .footer-top {
    grid-template-columns: 1fr;
  }
}
.footer .footer-top div {
  display: flex;
  justify-content: center;
  align-items: start;
}
.footer .footer-top div img {
  width: 160px;
}
.footer .footer-top div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
@media (max-width: 960.1px) {
  .footer .footer-top div:nth-child(2) {
    align-items: center;
  }
}
.footer .footer-top div:nth-child(2) h3 {
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: start;
  color: #ffffff;
}
@media (max-width: 490.1px) {
  .footer .footer-top div:nth-child(2) h3 {
    font-size: 14px;
  }
}
.footer .footer-top div:nth-child(2) a {
  font-size: 14px;
  text-align: start;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 3px;
  transition: all 0.3s ease;
}
.footer .footer-top div:nth-child(2) a:hover {
  color: #9dffa7;
}
.footer .footer-top div:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
@media (max-width: 960.1px) {
  .footer .footer-top div:nth-child(3) {
    align-items: center;
  }
}
.footer .footer-top div:nth-child(3) h3 {
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: start;
  color: #ffffff;
}
@media (max-width: 490.1px) {
  .footer .footer-top div:nth-child(3) h3 {
    font-size: 14px;
  }
}
.footer .footer-top div:nth-child(3) a {
  font-size: 14px;
  text-align: start;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 3px;
  transition: all 0.3s ease;
}
.footer .footer-top div:nth-child(3) a:hover {
  color: #9dffa7;
}
.footer .footer-top div:nth-child(4) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
@media (max-width: 960.1px) {
  .footer .footer-top div:nth-child(4) {
    align-items: center;
  }
}
.footer .footer-top div:nth-child(4) h3 {
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: start;
  color: #ffffff;
}
@media (max-width: 490.1px) {
  .footer .footer-top div:nth-child(4) h3 {
    font-size: 14px;
  }
}
.footer .footer-top div:nth-child(4) a {
  font-size: 14px;
  text-align: start;
  text-decoration: none;
  color: #ffffff;
  margin-bottom: 3px;
  transition: all 0.3s ease;
}
.footer .footer-top div:nth-child(4) a:hover {
  color: #9dffa7;
}
.footer .footer-bottom {
  padding: 50px 50px 25px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 40px;
}
@media (max-width: 660.1px) {
  .footer .footer-bottom {
    padding: 40px 25px 25px 25px;
  }
}
.footer .footer-bottom .footer-bottom-top {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  width: 100%;
}
@media (max-width: 660.1px) {
  .footer .footer-bottom .footer-bottom-top {
    justify-content: center;
  }
}
.footer .footer-bottom .footer-bottom-top img {
  width: 24px;
  transition: all 0.3s ease;
}
.footer .footer-bottom .footer-bottom-top img:hover {
  transform: scale(1.2);
}
.footer .footer-bottom .footer-bottom-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
@media (max-width: 960.1px) {
  .footer .footer-bottom .footer-bottom-bottom {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 660.1px) {
  .footer .footer-bottom .footer-bottom-bottom {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
}
.footer .footer-bottom .footer-bottom-bottom div:first-child {
  flex: 1;
}
.footer .footer-bottom .footer-bottom-bottom div:first-child p {
  font-size: 15px;
}
@media (max-width: 660.1px) {
  .footer .footer-bottom .footer-bottom-bottom div:first-child p {
    font-size: 14px;
    text-align: center;
  }
}
.footer .footer-bottom .footer-bottom-bottom div:nth-child(2) {
  flex: 1;
  display: flex;
  align-items: start;
  gap: 20px;
  width: 100%;
}
@media (max-width: 660.1px) {
  .footer .footer-bottom .footer-bottom-bottom div:nth-child(2) {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 490.1px) {
  .footer .footer-bottom .footer-bottom-bottom div:nth-child(2) {
    flex-direction: column;
  }
}
.footer .footer-bottom .footer-bottom-bottom div:nth-child(2) a {
  font-size: 15px;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.3s ease;
}
.footer .footer-bottom .footer-bottom-bottom div:nth-child(2) a:hover {
  color: #9dffa7;
}
@media (max-width: 660.1px) {
  .footer .footer-bottom .footer-bottom-bottom div:nth-child(2) a {
    font-size: 14px;
  }
}

.about {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}
.about h3 {
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
  color: #0a460d;
  animation: fade-up 1.7s 0.4s backwards;
  text-align: center;
  width: 100%;
}
@media (max-width: 490.1px) {
  .about h3 {
    font-size: 23px;
  }
}
.about p {
  font-size: 16px;
  color: #000000;
  animation: fade-up 1.7s 0.6s backwards;
}
@media (max-width: 490.1px) {
  .about p {
    font-size: 15px;
  }
}
.about .about-bottom {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
@media (max-width: 960.1px) {
  .about .about-bottom {
    flex-direction: column;
  }
}
.about .about-bottom div h4 {
  font-size: 26px;
  font-weight: 900;
  text-transform: uppercase;
  color: #0a460d;
  text-align: center;
  width: 100%;
}
@media (max-width: 490.1px) {
  .about .about-bottom div h4 {
    font-size: 23px;
  }
}
.about .about-bottom div p {
  font-size: 16px;
  color: #000000;
  animation: fade-up 1.7s 0.6s backwards;
}
@media (max-width: 490.1px) {
  .about .about-bottom div p {
    font-size: 15px;
  }
}
.hmo-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding: 30px;
}
.hmo-modal h3 {
  width: 100%;
  font-size: 24px;
  font-weight: 800;
  color: #0a460d;
  text-align: center;
}
@media (max-width: 660.1px) {
  .hmo-modal h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
  }
}
@media (max-width: 490.1px) {
  .hmo-modal h3 {
    font-size: 16px;
  }
}
.hmo-modal p {
  font-size: 16px;
  color: #000000;
}
@media (max-width: 490.1px) {
  .hmo-modal p {
    font-size: 15px;
  }
}
.hmo-modal div {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  grid-template-areas: "a a b c c d e f" "g h h i j k l l" "m n o p q q r r";
}
@media (max-width: 960.1px) {
  .hmo-modal div {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: initial;
    grid-template-areas: initial;
  }
}
@media (max-width: 660.1px) {
  .hmo-modal div {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 490.1px) {
  .hmo-modal div {
    grid-template-columns: repeat(1, 1fr);
  }
}
.hmo-modal div p {
  text-transform: uppercase;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid #dddddd;
  font-weight: 500;
  font-size: 17px;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.01) 0px 19px 38px, rgba(0, 0, 0, 0.1) 0px 15px 12px;
}
@media (max-width: 660.1px) {
  .hmo-modal div p {
    font-size: 15px;
  }
}
.hmo-modal div p:first-child {
  grid-area: a;
}
@media (max-width: 960.1px) {
  .hmo-modal div p:first-child {
    grid-area: initial;
  }
}
.hmo-modal div p:nth-child(2) {
  grid-area: b;
}
@media (max-width: 960.1px) {
  .hmo-modal div p:nth-child(2) {
    grid-area: initial;
  }
}
.hmo-modal div p:nth-child(3) {
  grid-area: c;
}
@media (max-width: 960.1px) {
  .hmo-modal div p:nth-child(3) {
    grid-area: initial;
  }
}
.hmo-modal div p:nth-child(4) {
  grid-area: d;
}
@media (max-width: 960.1px) {
  .hmo-modal div p:nth-child(4) {
    grid-area: initial;
  }
}
.hmo-modal div p:nth-child(5) {
  grid-area: e;
}
@media (max-width: 960.1px) {
  .hmo-modal div p:nth-child(5) {
    grid-area: initial;
  }
}
.hmo-modal div p:nth-child(6) {
  grid-area: f;
}
@media (max-width: 960.1px) {
  .hmo-modal div p:nth-child(6) {
    grid-area: initial;
  }
}
.hmo-modal div p:nth-child(7) {
  grid-area: g;
}
@media (max-width: 960.1px) {
  .hmo-modal div p:nth-child(7) {
    grid-area: initial;
  }
}
.hmo-modal div p:nth-child(8) {
  grid-area: h;
}
@media (max-width: 960.1px) {
  .hmo-modal div p:nth-child(8) {
    grid-area: initial;
  }
}
.hmo-modal div p:nth-child(9) {
  grid-area: i;
}
@media (max-width: 960.1px) {
  .hmo-modal div p:nth-child(9) {
    grid-area: initial;
  }
}
.hmo-modal div p:nth-child(10) {
  grid-area: j;
}
@media (max-width: 960.1px) {
  .hmo-modal div p:nth-child(10) {
    grid-area: initial;
  }
}
.hmo-modal div p:nth-child(11) {
  grid-area: k;
}
@media (max-width: 960.1px) {
  .hmo-modal div p:nth-child(11) {
    grid-area: initial;
  }
}
.hmo-modal div p:nth-child(12) {
  grid-area: l;
}
@media (max-width: 960.1px) {
  .hmo-modal div p:nth-child(12) {
    grid-area: initial;
  }
}
.hmo-modal div p:nth-child(13) {
  grid-area: m;
}
@media (max-width: 960.1px) {
  .hmo-modal div p:nth-child(13) {
    grid-area: initial;
  }
}
.hmo-modal div p:nth-child(14) {
  grid-area: n;
}
@media (max-width: 960.1px) {
  .hmo-modal div p:nth-child(14) {
    grid-area: initial;
  }
}
.hmo-modal div p:nth-child(15) {
  grid-area: o;
}
@media (max-width: 960.1px) {
  .hmo-modal div p:nth-child(15) {
    grid-area: initial;
  }
}
.hmo-modal div p:nth-child(16) {
  grid-area: p;
}
@media (max-width: 960.1px) {
  .hmo-modal div p:nth-child(16) {
    grid-area: initial;
  }
}
.hmo-modal div p:nth-child(17) {
  grid-area: q;
}
@media (max-width: 960.1px) {
  .hmo-modal div p:nth-child(17) {
    grid-area: initial;
  }
}
.hmo-modal div p:nth-child(18) {
  grid-area: r;
}
@media (max-width: 960.1px) {
  .hmo-modal div p:nth-child(18) {
    grid-area: initial;
  }
}

.servicespage {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  padding: 30px;
  position: relative;
}
.servicespage .servicespage-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.servicespage .servicespage-top h3 {
  font-size: 28px;
  font-weight: 900;
  text-transform: uppercase;
  color: #0a460d;
  animation: fade-up 1.7s 0.4s backwards;
}
@media (max-width: 490.1px) {
  .servicespage .servicespage-top h3 {
    font-size: 23px;
  }
}
.servicespage .servicespage-top p {
  font-size: 16px;
  color: #000000;
  text-align: center;
  width: 80%;
  animation: fade-up 1.7s 0.6s backwards;
}
@media (max-width: 960.1px) {
  .servicespage .servicespage-top p {
    width: 90%;
  }
}
@media (max-width: 660.1px) {
  .servicespage .servicespage-top p {
    width: 100%;
  }
}
.servicespage .servicespage-bottom {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
@media (max-width: 960.1px) {
  .servicespage .servicespage-bottom {
    gap: 20px;
  }
}
@media (max-width: 660.1px) {
  .servicespage .servicespage-bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 490.1px) {
  .servicespage .servicespage-bottom {
    grid-template-columns: 1fr;
  }
}
.servicespage .servicespage-bottom .servicespage-card .servicespage-card-top {
  width: 100%;
}
.servicespage .servicespage-bottom .servicespage-card .servicespage-card-top img {
  width: 100%;
  border-radius: 3px;
  z-index: 99;
}
.servicespage .servicespage-bottom .servicespage-card-bottom {
  padding: 20px 0;
}
.servicespage .servicespage-bottom .servicespage-card-bottom h4 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0a460d;
}
@media (max-width: 960.1px) {
  .servicespage .servicespage-bottom .servicespage-card-bottom h4 {
    font-size: 16px;
  }
}
.servicespage .servicespage-bottom p {
  font-size: 16px;
  color: #000000;
  animation: fade-up 1.7s 0.6s backwards;
}
@media (max-width: 960.1px) {
  .servicespage .servicespage-bottom p {
    font-size: 15px;
  }
}

.gallery {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
}
.gallery .gallery-top h3 {
  width: 100%;
  font-size: 28px;
  font-weight: 900;
  color: #0a460d;
  text-align: center;
  animation: fade-up 1.7s 0.4s backwards;
}
@media (max-width: 490.1px) {
  .gallery .gallery-top h3 {
    font-size: 23px;
  }
}
.gallery .gallery-top p {
  font-size: 16px;
  color: #000000;
  animation: fade-up 1.7s 0.6s backwards;
}
@media (max-width: 490.1px) {
  .gallery .gallery-top p {
    font-size: 15px;
  }
}
.gallery .gallery-bottom {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 20px;
}
@media (max-width: 960.1px) {
  .gallery .gallery-bottom {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 660.1px) {
  .gallery .gallery-bottom {
    grid-template-columns: 1fr;
  }
}
.gallery .gallery-bottom div h4 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #0a460d;
}
@media (max-width: 960.1px) {
  .gallery .gallery-bottom div h4 {
    font-size: 16px;
  }
}
.gallery .gallery-bottom div iframe {
  width: 100%;
  border-radius: 3px;
}

@media (max-width: 660.1px) {
  .slide-main {
    display: none;
  }
}

.slide-mobile {
  display: none;
}
@media (max-width: 660.1px) {
  .slide-mobile {
    display: block;
  }
}

.manager {
  width: 100%;
  padding: 30px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.manager h3 {
  font-size: 28px;
  font-weight: 800;
  text-transform: uppercase;
  color: #0a460d;
  text-align: center;
}
@media (max-width: 490.1px) {
  .manager h3 {
    font-size: 23px;
  }
}
.manager .manager-content {
  display: flex;
  align-items: center;
  gap: 20px;
}
@media (max-width: 960.1px) {
  .manager .manager-content {
    align-items: start;
  }
}
@media (max-width: 660.1px) {
  .manager .manager-content {
    flex-direction: column;
  }
}
@media (max-width: 490.1px) {
  .manager .manager-content {
    gap: 40px;
  }
}
.manager .manager-content .manager-top {
  flex: 1;
}
@media (max-width: 660.1px) {
  .manager .manager-content .manager-top {
    margin: auto;
  }
}
.manager .manager-content .manager-top img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 4px solid #0a460d;
}
@media (max-width: 660.1px) {
  .manager .manager-content .manager-top img {
    width: 320px;
    border: 3px solid #0a460d;
  }
}
@media (max-width: 490.1px) {
  .manager .manager-content .manager-top img {
    width: 220px;
    border: 2px solid #0a460d;
  }
}
.manager .manager-content .manager-bottom {
  flex: 3;
  padding-inline: 10px;
}
@media (max-width: 960.1px) {
  .manager .manager-content .manager-bottom {
    flex: 2;
  }
}
.manager .manager-content .manager-bottom p {
  font-size: 16px;
}
@media (max-width: 660.1px) {
  .manager .manager-content .manager-bottom p {
    text-align: center;
  }
}
.manager .manager-content .manager-bottom p span {
  font-weight: 600;
  color: #0a460d;
}/*# sourceMappingURL=main.css.map */