.testimonial-cover{
    padding: 30px;
    background-color: #7895CB;
}

.testimonial-cover .slick-next::before,
.testimonial-cover .slick-prev::before
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 40px;
    color: transparent;
}

.testimonial-cover h3 {
    width: 100%;
    text-align: start;
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 30px;
}

.slick-dots {
    position: absolute !important;
    bottom: 20px !important;
    display: none !important;
}

.testimonial-wrapper {
    padding: 30px 60px;
    width: 100%;
    margin: 50px 0;
}

.testimonial-wrapper .each-testimonial {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
}
.testimonial-wrapper .each-testimonial .testimonial-author {
    width: 180px;
    height: 180px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    margin: 0 auto;
}
.testimonial-wrapper .each-testimonial .testimonial-author img {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
}
.testimonial-wrapper .each-testimonial .testimonial-text {
    display: grid;
    justify-content: start;
    align-items: start;
    gap: 10px;
}
.testimonial-wrapper .each-testimonial .testimonial-text img {
    width: 55px;
}
.testimonial-wrapper .each-testimonial .testimonial-text div {
    display: grid;
    justify-content: center;
    align-items: start;
    gap: 20px;
    padding-left: 55px;
}
.testimonial-wrapper .each-testimonial .testimonial-text div .description {
    font-size: 20px;
    color: #FFFFFF;
}
.testimonial-wrapper .each-testimonial .testimonial-text div .author-name {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
}

@media  (max-width: 768px) {
    .testimonial-wrapper .each-testimonial .testimonial-text {
        text-align: center;
    }
    .testimonial-wrapper .each-testimonial .testimonial-text div .description {
        font-size: 16px;
    }
    .testimonial-cover{
        padding: 0 9%;
    }
    .testimonial-wrapper .each-testimonial {
        grid-template-columns: 1fr ;
        gap: 10px;
    }
    .testimonial-wrapper {
        padding: 0;
    }
    
    .testimonial-cover  .slick-prev, 
    .testimonial-cover  .slick-next {
        top: 94% !important;
    }
    .testimonial-cover  .slick-prev{
        left: 25% !important;
    }
    .testimonial-cover  .slick-next{
        right: 25% !important;
    }
    .testimonial-cover h3 {
        font-size: 18px;
    }
    .testimonial-wrapper .each-testimonial .testimonial-text img {
        width: 33px;
    }
    .testimonial-wrapper .each-testimonial .testimonial-text div {
       padding: 10px 0 !important;
    }
    .slick-dots {
        position: absolute !important;
        bottom: 20px !important;
    }
    .testimonial-wrapper .each-testimonial .testimonial-author {
        display: none;
    }
    /* LAST ADDED */
    .testimonial-cover{
        height: 50vh !important;
    }
    .testimonial-cover .slick-slider {
        height: 40vh !important;
    }
    .testimonial-cover .slick-list {
        height: 40vh !important;
    }

}

/* EDGE */
@media  (max-width: 1920.1px) {
    .testimonial-cover{
        height: 45vh;
    }
    .testimonial-cover .slick-slider {
        height: 35vh;
    }
    .testimonial-cover .slick-list {
        height: 35vh;
    }
}
/* DEFAULT */
@media  (max-width: 1400.1px) {
    .testimonial-cover{
        height: 60vh;
    }
    .testimonial-cover .slick-slider {
        height: 45vh;
    }
    .testimonial-cover .slick-list {
        height: 45vh;
    }
}
/* EXTRA SMALL */
@media  (max-width: 460.1px) {
    .testimonial-cover{
        height: 38vh !important;
    }
    .testimonial-cover .slick-slider {
        height: 30vh !important;
    }
    .testimonial-cover .slick-list {
        height: 30vh !important;
    }
}